
body {
  background-color: initial;
  padding: 0px;
}

div.bulk-move-main-panel {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

div.bulk-move-main-panel > div {
  margin-bottom: 20px;
  padding: 10px;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #ccc;
}

div.flex-box-equal-width-grow-panel {
  /* This panel ensures the various "step" panels grow with equal 
     widths so they look good when they wrap due to insufficient 
     screen width */
  width: 300px;
  height: 1px;
  background-color: initial;
}

div.filter-panel {
  min-width: 300px;
}

div.padding-panel {
  margin: 0px 5px;
  border-radius: 6px;
}

div.content-panel {
  min-width: 300px;
}

div.issue-selection-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.issue-selection-panel > div {
  margin-left: 10px;
}

.issue-selection-panel > div:first-child {
  margin-left: 0px;
}

.issue-summary-panel {
  max-width: calc(300px - 50px);
  overflow-x: hidden;
  white-space: nowrap;
}

.error-message {
  color: #BF2600;
  font-weight: bold;
}

.debug-panel {
  margin-top: 30px
}