
body {
  background-color: initial;
  padding: 0px;
}

.clickable {
  cursor: pointer;
}

.clip-text-300 {
  /* This is used to clip text to a maximum of 200 pixels */
  max-width: 300px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.warning-message {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 6px;
  border-radius: 6px;
  text-align: center;
  background-color: #BF2600;
  color: #fff;
}

div.bulk-move-main-panel {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

div.bulk-move-main-panel > div {
  margin-bottom: 20px;
  padding: 10px;
  flex-grow: 1;
  background-color: #fff;
}

div.flex-box-equal-width-grow-panel {
  /* This panel ensures the various "step" panels grow with equal 
     widths so they look good when they wrap due to insufficient 
     screen width */
  width: 300px;
  height: 1px;
  background-color: initial;
}

div.filter-panel {
  min-width: 300px;
  /* max-width: 400px; */
}

div.padding-panel {
  margin: 0px 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

div.padding-panel:hover {
  border: 1px solid #4C9AFF;
}

div.content-panel {
  min-width: 300px;
  max-width: 400px;
}

div.issue-selection-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.issue-selection-panel > div {
  margin-left: 10px;
}

.issue-selection-panel > div:first-child {
  margin-left: 0px;
}

.issue-summary-panel {
  max-width: calc(300px - 50px);
  overflow-x: hidden;
  white-space: nowrap;
}

.error-message {
  color: #BF2600;
  font-weight: bold;
}

.disabled-text {
  color: #ccc;
}

.debug-panel {
  margin-top: 30px
}
